<div class="d-flex justify-content-center" id="url-form">
<form action="/urls" mtehod="POST">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Input URL here">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>