<div class="d-flex justify-content-center" id="url-form">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Your Shortener URL</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
    <button type="submit" class="btn btn-primary">Copy</button>
  </div>  
</div>