{{> shortener-icon}}

<div class="my-3" id="url-form">
  <div id="url-shorten-div">
    <p class="fs-4 fw-bold">Success! Please use this link:</p>
    <a href="http://localhost:3000/{{url.url_shorten}}" target="_blank" id="url-shorten"
      class="fw-bold text-decoration-none fs-5 text-href">
      <span class="link-text">
        {{fullhost}}{{url.url_shorten}}
      </span>
    </a>
  </div>
  <button type="submit" class="btn btn-outline-success btn-lg mt-3" id="copy-button">Copy</button>
  <p class="note-expir">Expiration Date: {{getDatetime url.expiration_date}}</p>
</div>