<div class="d-flex justify-content-center" id="url-form">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" >Your Shortener URL</label>
    <input type="url" class="form-control" id="url_shorten"  name="url_shorten" value="http://localhost:3000/{{url.url_shorten}}" disabled>
    {{!-- http://your-project-name.herokuapp.com/{{url.url_shorten}} --}}
    <button type="submit" class="btn btn-primary" onclick="copyToClipboard()">Copy</button>
  </div>  
</div>