html,
body {
  margin: 0;
  padding: 0;
  background-color: #f6f7f8;
}

#main-div {
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-div img {
  max-width: 70%;
}

#url-div {
  margin: 0 auto;
  max-width: 700px;
}

#url-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#url-shorten-div {
  margin-top: 60px;
  margin-bottom: 15px;
  padding: 0;
}

.form-control {
  width: 700px;
}

#input-url-origin {
  margin-top: 80px;
  margin-bottom: 15px;
}

#shorten-button {
  width: 200px;
}

#copy-button {
  width: 100px;
}