html,
body {
  margin: 0;
  padding: 0;
  background-color: #f6f7f8;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #419197;
}

main {
  margin: 60px 0;
  padding: 0;
  background-color: #f6f7f8;
  display: flex;
  flex-direction: column;
}

#navbar {
  margin: 0 2% 0 7%;
}

#main-div {
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-div img {
  max-width: 70%;
}

#url-div {
  margin: 0 auto;
  max-width: 700px;
}

#url-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 550px;
}

#input-url-origin {
  margin-top: 80px;
  margin-bottom: 15px;
}

#shorten-button {
  margin-top: 10px;
  width: 200px;
}

/* 短網址(show) 頁面 */
#url-shorten-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  margin-top: 60px;
  margin-bottom: 15px;
  padding: 0;
}

#copy-button {
  width: 100px;
}

.note-expir {
  margin-top: 2%;
  font-weight: bold;
  font-size:large ;
  color: #4682A9;
}

/* History 頁面設定 */
#history-div {
  margin: 3% auto;
  width: 85%;
  height: 80%;
}

/* 複製圖示 */
.fa-copy {
  color: #96B6C5;
}

.fa-copy:hover {
  color: #9EDDFF;
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease 0s;
}

/* 分頁 */
#pagination {
  margin: 0 auto;
}

/* 超連結 設定 */
.text-href {
  font-size: 100%;
  text-decoration: none;
}

.text-href:hover .link-text {
  padding: 0.5% 2%;
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
  color: #FEFCF3;
  background-color: #CDBBA7;
  transform: scale(1.1);
  transition: all 0.5s ease 0s;
}

/* table 設定 */
table {
  table-layout: fixed;
  margin: 30px 0 0 0;
}

th {
  text-align: center;
}

td {
  text-overflow: ellipsis;
  word-wrap: break-word;
  vertical-align: middle;
  text-align: center;
}

table tr:hover {
  background-color: #F1EFEF;
}

/* 第一名 */
#trend-table tr:nth-child(1) td {
  background-color: #FFE569;
}

#trend-table tr:nth-child(1):hover td {
  background-color: #E9B824;
}

/* 第二名 */
#trend-table tr:nth-child(2) td {
  background-color: #ADC4CE;
}

#trend-table tr:nth-child(2):hover td {
  background-color: #86A3B8;
}

/* 第三名 */
#trend-table tr:nth-child(3) td {
  background-color: #BCA37F;
}

#trend-table tr:nth-child(3):hover td {
  background-color: #977547;
}

/* Trend設定 */
#trend-column {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#most-clicks,
#most-days {
  margin-top: 3%;
  width: 42%;
}

/* 預覽框 */
.custom-tooltip.tooltip>.tooltip-inner {
  text-align: left;
  max-width: 500px;
  background-color: #419197;
}